<launch>
    <!-- My Package launch file -->
    <!-- <node pkg="cv" name="faceDetectionOnWebcam" type="webcam_rosface_detection.py" output="screen"/> -->
        <node pkg="cv" name="webcamPublisher" type="webcam.py" output="screen"/>
        <node pkg="cv" name="faceDetectionOnWebcam" type="webcam_face_detection.py" output="screen"/>

</launch>